*{
    margin: 0;
    padding: 0;
}
body{
    background: url(b.jpg);
    font-family: sans-serif;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
h1{
    padding-bottom: 10px;
    color:aliceblue;
}
h1:after{
    content: '';
    background: #fff;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}
.title-box{
    text-align: center;
    margin: 100px auto 50px;
}
.profile-box{
    width: 200px;
    height: 240px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    box-sizing: 0 10px 10px 10px rgba(115,193,255,0.1);
    padding: 20px;
    position: relative;
    transition: background 0.5s;
}
.profile-box img{
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    transition: .5s;
}
.profile-box h4{
    margin-top: 25px;
    margin-bottom: 5px;
    color: #2196f3;
}
small{
    color: #555;
}
.social-box{
    background: #2196f3;
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 3px;
}
.social-box .fa{
    margin: 5px;
    color: #fff;
    cursor: pointer;
}
.profile-box p{
    text-align: center;
    line-height: 24px;
    color: #555;
}
.team-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 97%;
    margin:auto;
}
.profile-box img:hover{
    width: 200px;
    
}
.profile-box:hover{
    background: #2196f3;
}
.profile-box:hover h4{
    color: #fff;
}
.profile-box:hover p{
    color: #efefef;
}
.profile-box:hover small{
    color: #efefef;
}
.profile-box:hover .social-box{
    background: #fff;
}
.profile-box:hover .social-box .fa{
    color: #2196f3;
}
